<h1>TestMail#index</h1>
<p>Find me in app/views/test_mail/index.html.erb</p>
<!-- <form action="/send_mail" method="post"> -->
<%= form_tag("/send_mail", {method: :post}) do%>
	Email:<input type="email" name="email" required=""> 
	CC: <input type="email" name="cc_email" > 
	Bcc: <input type="email" name="bcc_email" >
	Bcc: <input type="url" name="url" >
	 <button>Send Mail</button>
<% end -%>
<!-- </form> -->